body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(34, 34, 34);
    background-image: url(/assets/wallpaper4.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 0px 30px;
    justify-content: center;
    color: black;
    background-color: #f0f8ff;
}
.nav-items img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
}
main{
    margin: 30px 90px;
}
main #header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    align-items: center;
    gap: 20px;
}
main #header #intro{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: aliceblue;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    animation: scaleFade 1.5s 1s forwards;
    transition:  0.5s;
    opacity: 0;
}
main #header #intro:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}
main #header #intro button{
    padding:  10px 20px;
    font-size: 1.1em;
    border-radius: 15px;
    border: none;
    background-color: #C4E689;
    transition: all 0.1s;
    cursor: pointer;
}
main #header #intro button:hover{
    transform: translateY(3px);
}
main #header #intro button:active{
    background-color: hsl(16, 100%, 76%);
}
main #header img {
    animation: scaleFade 1.5s 1s forwards;
    opacity: 0;
    width: 100%;
    border-radius: 20px;
}
main #logos{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    animation: scaleFade 1.5s 1s forwards;
    opacity: 0;
}
main #logo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    justify-items: center;

    img{
        animation: moveUpDown 3.5s infinite;
    }
}
main #lists {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    backdrop-filter: blur(10px);
    animation: scaleFade 1.5s 1s forwards;
    opacity: 0;
}
#list1, #list2{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all 0.5s;
}
#list1:hover, #list2:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    
    li{
        color: #C4E689;
        list-style: square;
    }
}

#projects{
    #bottom{
        text-align: center;
    }
}
.projects-container{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
    animation: scaleFade 1.5s 1s forwards;
    opacity: 0;
    transition: all 0.5s;
    .project-texts{
        width: 600px;
    }
    .project-image{
        text-align: center;
        img{
            width: 350px;
            border-radius: 10px;
        }
        button{
            padding:  10px 20px;
            font-size: 1.1em;
            border-radius: 15px;
            border: none;
            background-color: #C4E689;
            transition: all 0.1s;
            cursor: pointer;
            margin-top: 10px;
            transition: all 0.2s;
        }
        button:hover{
            transform: translateY(3px);
        }
    }
}

.educations-container{
    max-width: 800px;
    margin: auto;
    .education{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        padding: 20px;
        animation: scaleFade 1.5s 1s forwards;
        opacity: 0;
        transition: all 0.5s;


        .year{
            text-align: center;
            margin: 20px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    gap: 50px;
    padding: 30px 90px;
    color: black;
    
    #title{
        font-size: 1.1em;
        font-weight: 600;
        #credit{
            font-size: 0.8em;
            font-weight: 400;
        }
    }
    #icons{
        font-size: 1.5em;
    }
}

@keyframes scaleFade {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

@media only screen and (max-width: 600px) {
    nav{
        .nav-items{
            font-size: 0.7em;
            img{
                height: 40px;
                width: 40px;
            };
        }
    }
    main{
        margin: 30px;
    }
    main #logos{
        font-size: smaller;
    }
    main #logo-grid img{
        height: 70px;
    }
    .projects-container{
        flex-wrap: wrap-reverse;

        .project-image img{
            width: 100%;
        }
    }
    footer {
        padding: 10px 30px;

        #title{
            width: 150px;
        }
    }
}
