body {
    background-color: rgb(37, 37, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: aliceblue;
}

nav{
    background-color: aliceblue;
    color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20px;
    padding: 0px 20px;

    .nav-items{
        align-items: center;
        display: flex;
        img{
            width: 60px;
        }
    }
}

#container{
    background-color: rgba(255, 255, 255, 0.027);
    margin: auto;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    border: 1px white solid;
    text-align: center;

    #result{
        width: 500px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        transition: all 0.2s;
    }
    #result:focus{
        background-color: aliceblue;
    }
}